<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>TMDB Movie Search</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a> |
      <a href="/movies">Search</a>
    </nav>
    <main>