<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>TMDB Movie Search</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a> |
      <a href="/movies">Search</a>
    </nav>
    <main>